* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}
.container-fluid {
    width: fit-content;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    background: transparent;
    border: none;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
}
.card-img-top {
    height: 300px;
}
.card-text {
    display: none;
}
