* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}
.container {
    background-color: white;
    margin: 150px auto;
    width: fit-content;
    height: 120px;
    border-radius: 10px;

}
.container h2 {
    text-align: center;
    margin: 10px 0px;
    padding-top: 20px;
    
}
.container .inputs {
    display: flex;
    padding: 0px 15px;
}
.container button {
    background-color:mediumorchid;
    color: whitesmoke;
    border: none;
    margin: 0px 5px;
    padding: 3px 5px;
    border-radius: 5px;
}