* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: right;
    gap: 20px;
}

nav a {
    cursor: pointer;
    color: white;
    font-size: 1em;
}

#nav a:hover {
    color: green;

}

:root {
    --primary-color:white;
    --secondary-color:#2ecc71;
    --text-color: #333;
}

#header {
    background-color: var(--primary-color);
    color: white;
    background-image: url("../assets/Images/background.jfif  " );
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height:100vh;
}

.profile-information {
    text-align: center;
}

.contact-button button{
    display: inline;
    background-color: gray !important;
    --local-var:white;
    color:var(--local-var);
    text-align: center;
}
#about-section h2{
    font-size: 2rem;
}
#about-section p{
    width: 200px;
    height: 40vh;
    overflow: auto;
     overflow: scroll;
}
.skill-1,
.skill-2,
.skill-3 {
    display: inline-block;
    width: 400px;
    margin: 10px;
    text-align: center;
}
h1,
h2,
h3{
    padding: 10px;
    font-style:bold;
}
h2{
    color:green;
}